<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="com.spring_xml_config.Developer">
        <constructor-arg index="0" ref="com2" />
    </bean>
    <bean id="com1" class="com.spring_xml_config.Laptop">
    </bean>
    <bean id="com2" class="com.spring_xml_config.Desktop">
    </bean>
</beans>